/* Main style sheet */

/*Page*/
body {
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 10pt;
}

label {
    font-weight: normal;
}

button:hover {
    transition: all 0.5s;
}

a:hover {
    text-decoration: none;
}

.row-header {
    height: 84px;
    text-align: center;
    padding-top: 8px;
    background-color: #d35151;
}

.header-logo {
    top: 0;
    width: 48px;
}

.header-text {
    display: inline-table;
    text-align: center;
    margin-left: 2%;
}

.header-text p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.header-title {
    font-size: 22pt;
    font-weight: lighter;
    color: white;
}

.header-icon-container {
    position: absolute;
    top: 16px;;
    right: 5%;
}

.header-icon-container img {
    margin-right: 8px;
    margin-left: 8px;
    width: 32px;
    height: 32px;
}

.header-background {
    position: absolute;
    top: -32px;
    left: 0px;
    
}

.row-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-top: 8px;
    background-color: white;
}

.row-footer a, .row-footer span {
    color: #888888;
    font-size: 9pt;
}

.row-footer span, .row-footer img {
    margin-left: 4px;
    margin-right: 4px;
}

.row-footer a:hover {
    color: #333333;
}

.footer-icon {
    height: 20px;
    filter: opacity(30%);
}

.footer-icon:hover {
    filter: opacity(100%)
}

.counter {
    position: absolute;
    right: 32px;
    bottom: 0px;
}

.counter img {
    height: 16px;
}

.footer-divisor {
    width: 2px;
}

.row-content {
    margin-top: 24px;
}

.overlay {
/*    display: none;*/
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* */
.row-welcome-dialog {
/*    display: none;*/
    z-index: 9998;
    position: absolute;
    top: 15%;
    left: 25%;
    height: 70%;
    width: 50%;
    background-color: white;
    box-shadow: 8px 8px 32px #222222;
}

.col-welcome-dialog {
    height: 100%;
}

.row-welcome-header {
    height: 10%;
    padding-top: 1%;
    text-align: center;
    background-color: #d35151;;
    color: white;
}

.welcome-header-logo {
    padding-top: 6px;
    width: 32px;
}

.welcome-header-text-container {
    display: inline-table;
    margin-left: 16px;
}

.welcome-header-text-container p {
    margin-top: -4px;
    margin-bottom: 0;
    color: white;
}

.welcome-header-title {
    font-size: 12pt;
}

.welcome-header-author {
    font-size: 8pt;
}

.row-welcome-content {
    height: 90%;
    text-align: center;
}

.row-welcome-content img {
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
}

.row-welcome-content p {
    font-weight: lighter;
    font-size: 16pt;
}

.row-welcome-video {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 60%;
    width: 85%;
    text-align: center;
}

.welcome-video-container {
}

.welcome-video {
    height: 100%;
    width: 100%;
}

.row-welcome-video p {
    font-size: 22pt;
}

.row-welcome-other {
    position: absolute;
    bottom: 0%;
    left: 5%;
    height: 30%;
    width: 96%;
    background-color: white;
}

.welcome-other-icon {
    height: 30%;
}

.fb-share-button {
    margin-top: 3%;
}

/* */

.row-import-dialog {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 10%;
    left: 20%;
    height: 80%;
    width: 62%;
    background-color: white;
    box-shadow: 8px 8px 32px #222222;
}

.col-import-dialog {
    height: 100%;
}

.row-import-header {
    margin-bottom: 16px;
    padding-top: 8px;
    height: 38px;
    text-align: center;
    background-color: #d35151;;
    color: white;
}

.import-header-title {
    font-size: 12pt;
}

.row-import-content {
    padding-left: 32px;
    padding-right: 32px;
}

.row-import-info {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #f6f6f6;
}

.icon-import-notice {
    margin-top: -8px;
    height: 16px;
}

.label-import-notice {
    position: relative;
    margin: 0;
    font-size: 9pt;
    font-style: italic;
}

.row-import-dialog select {
    margin-left: 8px;
    margin-right: 32px;
    width: 100%;
    font-size: 10pt;
}

.row-import-course-container {
    overflow: auto;
    position: absolute;
    top: 220px;
    bottom: 96px;
    left: 16px;
    right: 48px;
    height: auto;
    margin-top: 16px;
    padding-right: 0px;
}

.table-import {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
}

.table-import-col-section {
    width: 20%;
}

.table-import-col-note {
    width: 30%;
}

.table-import td {
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    text-align: left;
}

.td-import-section {
    background-color: #f6f6f6;
}

.accordion-toggle {
    cursor: pointer;
    width: 16px;
    font-size: 8pt;
}

.td-import-section span {
    width: 100px;;
}

.row-button-import-dialog {
    position: absolute;
    width: 100%;
    bottom: 32px;
}

/*Left Panel*/
.row-left-panel {
    padding-left: 32px;
    padding-right: 32px;
}

.row-of-left-panel {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row-button-left-panel {
    padding-right: 16px;
    text-align: center;
}

.row-label {
    height: 24px;
}

.row-break {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 2px;
    background-color: #cccccc;
}

.row-add-course {
    margin-top: 16px;
    text-align: center;
}

.col-of-left-panel {
    padding-left: 8px;
    padding-right: 0px;
}

.button-import {
    width: 100%;
    height: 32px;
    border: 0;
    background: #3fa246;
    color: white;
    font-size: 10pt;
}

.button-import:hover {
    background: #1d8024;
}

.button-delete {
    position: absolute;
    right: 0px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("/images/delete.png");
}

.button-delete:hover {
    background-image: url("/images/delete_hover.png");
    cursor: pointer;
}

.row-course-container {
    overflow-y: auto;
    height: calc(90vh - 200px);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 16px;
}

#left-panel label {
    margin-bottom: 0px;
    font-size: 8pt;
    font-weight: normal;
}

#left-panel .label-course {
    font-size: 9pt;
}

input, select {
    text-align: center;
    font-size: 8pt;
}

.input-large {
    width: 100%;
    height: 24px;
}

input[type="checkbox"] {
    position: relative;
    cursor: pointer;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="time"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="time"] {
    -moz-appearance: textfield;
}

button:disabled {
    background-color: #d3d0d0;
}

#button-add-course {
    background-image: url("/images/add_course.png");
    width: 24px;
}

#button-add-course:hover {
    cursor: pointer;
}

.button-generate {
    width: 100%;
    height: 32px;
    border: 0;
    background: #d35151;
    color: white;
    font-size: 10pt;
}

.button-generate:hover:enabled {
    background: #b12929;
}
.button-reset {
    width: 40%;
    height: 32px;
    border: 0;
    background: #ffffff;
    color: #d3d0d0
    font-size: 10pt;
}

/*---------------------------------------------------*/
/*Right Panel*/

.height-100-percent {
    height: 100%;
}

.row-right-panel {
    padding-left: 0px;
    padding-right: 32px;
}

.header-banner-right-panel {
    height: 32px;
    padding-top: 6px;
    background-color: #d3d0d0;
}

.button-navigation-schedule {
    margin-left: 24px;
    margin-right: 12px;
    cursor: pointer;
    height: 16px;
}

.button-navigation-schedule-forward {
    margin-left: 12px;
    margin-right: 12px;
}

.label-schedule-page-number, .label-schedule-page-info {
    font-size: 10pt;
}

.col-sort-by {
    text-align: right
}

.select-sort-by {
    width: 256px;
    font-size: 9.5pt;
}

.row-schedule-container {
    overflow-y: auto;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: calc(90vh - 150px);
}

.row-schedule {
    margin-left: 8px;
    margin-right: 8px;
    border: solid 1px #dddddd;
    box-shadow: 2px 2px 2px #dddddd;
}

.row-schedule-overview {
    padding: 8px;
    height: 98%;
}

.row-schedule-result {
    margin-bottom: 42px;
    padding: 8px;
    height: 320px;
}

.col-schedule-number {
    font-size: 12pt;    
}

.col-button-view {
    text-align: center;    
}

.col-button-view div {
    position: absolute;
    bottom: 0;
}

.button-view, .button-export {
    margin-top: 8px; 
    width: 80%;
    height: 32px;
    border: 0;
    background: #d3d0d0;
    color: white;
    font-size: 8pt;
}

.row-label-schedule-day, .col-label-schedule-time {
    position: absolute;
}

.label-schedule-day {
    position: absolute;
    text-align: center;
}

.label-schedule-day input[type="checkbox"] {
    margin-left: 8px;
}

.label-schedule-time {
    position: absolute;
    text-align: right;
}

.display-schedule {
    position: absolute;
}

.table-schedule {
    position: absolute;
    height: 100%;
    width: 100%;
}

td {
    border-collapse: collapse;
    border: solid 1px #eeeeee;
    text-align: center;
}

.class {
    overflow: hidden;
    position: absolute;
    padding-top: 0.05%;
    text-align: center;
    line-height: 1em;
    border: none;
    border-radius: 0px;
}

.section:hover * {
    cursor: pointer;
}

.section:hover .class {
    box-shadow: 0px 2px 8px #999999;
}

.label-class {
    height: 10%;
    font-weight: normal;
    font-size: 8pt;
    color: white;
}

.class-status {
    position: absolute;
    bottom: -4px;
    padding-right: 2px;
    right: 0px;
    width: 100%;
    text-align: right;
}

.label-class-status {
    font-size: 7pt;
    font-weight: normal;
    font-style: italic;
    color: white;
}

.sign-class-status {
    display: inline-block;
    margin-left: 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: lightgreen;
}

/* Message */
.row-message {
    z-index: 99;
    position: absolute;
    top: 48px;
    left: 0;
    height: calc(100% - 48px);
    width: 100%;
    background-color: white;
}

.row-message-loading {
    display: none;
}

.message-wrapper {
    position: absolute;
    top: 40%;
    left: 40%;
    height: 400px;
    width: 400px;
    text-align: center;
}

.message-wrapper img {
    height: 64px;
}

.message-wrapper p {
    margin-top: 16px;
    color: grey;
    font-size: 11pt;
}

.spinner {
    display: block;
    left: 35%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: relative;
}
.spinner:after, .spinner:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.spinner-1:before, .spinner-1:after {
    position: absolute;
    background: #d35151;
    -webkit-animation: pulse 3s linear infinite;
    animation: pulse 3s linear infinite;
    opacity: 0;
}
.spinner-1:after {
    -webkit-animation: pulse 2s linear 2.3s infinite;
    animation: pulse 2s linear 2.3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}
